@model List<Model.EF.Footer>
<div class="information">
    
    <div class="container">
        <div class="infor-top">
            @foreach (var item in Model)
            {
                <div class="col-md-3 infor-left">
                    <h3>@item.Name</h3>
                    @Html.Raw(item.Content)
                </div>
            }


            
            <div class="clearfix"></div>
        </div>
        </div>
</div>
<!--information-end-->
<!--footer-starts-->
<div class="footer">
    <div class="container">
        <div class="footer-top">

            <div class="col-md-6 footer-right text-center">
                <p>© 2015 Luxury Watches. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
