@model List<OnlineShop.Models.CartItem>
<div class="cart box_1">
    <a href="/gio-hang">
        <div class="total">
            <span class="simpleCart_total">@Model.Count Sản phẩm</span>
        </div>
        <img src="/Asset/client/images/cart-1.png" alt="" />
    </a>
    

    <div class="clearfix"> </div>
</div>






