@model List<Model.EF.ProductCategory>
<div class="header-bottom">
    <div class="container">
        <div class="header">
            <div class="col-md-9 header-left">
                <div class="top-nav">
                    <ul class="memenu skyblue">
                        @foreach (var item in Model)
                        {
                            <li class="grid">
                                <a href="/san-pham/@item.MetaTitle-@item.ID">@item.Name</a>

                            </li>
                        }


                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>