@model List<Model.EF.Menu>
<div class="col-md-9">
    <ul class="memenu skyblue login" style="float: right;">
        @foreach (var item in Model)
        {
            <li class="grid">
                <a href="@item.Link" style="color: white;font-size: 13px;">@item.Text</a>
            </li>
        }



    </ul>
</div>