
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="prdt">
    <div class="container">
        <div class="prdt-top">
            <div class="alert alert-danger">
                Mua hàng thành công
            </div>
        </div>
    </div>
</div>
